@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {

    --blue : #0065fc;
    --lightgrey: #f2f2f2;

}

* {
    box-sizing: border-box;
    font-family:"Raleway" , "sans-serif" ; 

}

body {

    margin: 0;



}

a {
    color: inherit;
    text-decoration: none;
}

/* NAVBAR */
nav {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {

    padding: 2rem; 
    border-top: 3px solid transparent;
}

nav a:hover {

    border-top-color: #0065fc;
}


#logo {
       margin-right: auto;
       padding: 0 2rem;

}

.signup {

    font-weight: bold;
    color: #0065fc;
    
}

.sub-nav {

    display: flex;
}

.sub-nav a:hover {

    color: #0065fc;
}

@media (max-width:800px) { 
    .sub-nav {
        order: 1;
        flex-basis: 100%;
        
    }
    
    .sub-nav a {
        
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey;

}

.sub-nav a:hover {

    border-bottom: 3px solid #0065fc;
    border-top-color: transparent;

    
}

}

/* BODY */

.wrapper {
    padding: 0 2rem;
}

/* SEARCH-FORM */

.search-form {

    display: flex;
    
    
}

.search-form i {

    background-color: var(--lightgrey);
    padding: 1rem 1.2rem ;
    border-radius: 1rem 0 0 1rem ;

}

.search-form input {

    padding-right: 6rem;
    border: 1px solid var(--lightgrey);


}

.search-form input::placeholder {

    /* font-weight:bold */ 
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: bold;
}

.search-form button {

    border-radius: 0 1rem 1rem 0 ;
    background-color: var(--blue);
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 1.5rem ;
    border: none;
    cursor: pointer;
    
    
}

